*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
    background: rgb(131,58,180);
    background: linear-gradient(255deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.486);
    margin-bottom: 50px;
    height: 81px;
}
.menu{
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    align-items: center;
}
.logo{
    margin-left: 100px;
    color: white;
}
.menu li{ 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80%;
    border-left: 2px solid black;
}
.menu li a{
    font-size: 1.75rem;
    transition:  0.5s;
}
.menu li:last-of-type{
    border-right: 2px solid black;
}
.menu a{
    text-decoration: none;
}
.menu a:link{
    color: white;
}
.menu a:visited{
    color: white;
}
.menu li a:hover{
    font-size: 1.875rem;
    
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
form{
    background-color: rgba(0, 0, 0, 0.486);
    box-shadow: 0 0 10px 0px black;
    border-radius: 10px;
    padding: 20px;
    height: 750px;
    width: 640px;
    display: flex;
    flex-direction: column;
    color: white;
}
form h2{
    text-align: center;
    font-size: 2.5rem;
}
.kreska{
    border: 3px solid white;
}
.dane{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.imie input{
    width: 99%;
}
.nazwisko input{
    width: 99%;
}
.dane label{
    width: 100%;
    font-size: 1.625rem;
}
.dane input{
    text-align: center;
    height: 45px;
    font-size: 26px;
    border-radius: 10px;
    border: 2px solid black;
}
.kontakt{
    display: flex;
    margin-bottom: 30px;
}
.kontakt label{
    font-size: 1.625rem;
}
.kontakt input{
    text-align: center;
    height: 45px;
    margin: 0px 0px 15px 0px;
    font-size: 1.625rem;
    border-radius: 10px;
    border: 2px solid black;
}
.czas{
    display: flex;
    margin-bottom: 30px;
}
.czas label{
    font-size: 1.625rem;
}
.czas input{
    width: 315px;
    height: 45px;
    margin: 0px 0px 15px 0px;
    font-size: 26px;
    border-radius: 10px;
    border: 2px solid black;
}
.przycisk:hover{
    color: #000;
    background-position: left ;
    
}
.przycisk{
    border: 2px solid white;
    padding: 20px;
    color: #fff;
    width: 200px;
    border-radius: 70px;
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right ;
    transition: all 0.7s ease-out;
    margin-top: 30px;
    cursor: pointer;
    font-size: 2rem;
}
.room{
    font-size: 1.875rem;
}
.room label{
    font-weight: bold;
    font-size: 2rem;
}
.room2{
    margin-top: 10px;
    display: flex;
}
.room2 p,
.room3 p,
.room4 p{
    text-align: center;
    margin-left: 10px;
}
.room3{
    display: flex;
}
.room4{
    display: flex;
}
.room input[type=radio] {
  transform: scale(1.5);
}
.footer{
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    padding: 20px 0;
    color: white;
}

.error{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: red;
}